[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "23.9.1"
pylint = "3.0.1"

[packages]
click = "8.1.7"
markdown = "3.5"
markdown-include = "0.8.1"
weasyprint = "60.1"
watchdog = "3.0.0"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = false
