@page {
  margin-top: 2cm;
  size: A4;

  @bottom-right {
    content: counter(page) " of " counter(pages);
  }

  @bottom-center {
    color: #808080;
    content: string(heading-name) " - " string(heading-title);
  }
}

@page cover {
  @bottom-center {
    content: "";
  }

  @bottom-right {
    content: "";
  }
}

html {
  font-family: system-ui;
  font-size: 13px;
  line-height: 1.5;
}

h1 {
  font-size: 2.5rem;
  page: cover;
  string-set: heading-name content();
  margin-bottom: 0;
  margin-top: 20rem;
}

.job-title {
  font-style: italic;
  margin-bottom: 5rem;
  margin-top: 0;
  string-set: heading-title content();
}

.contact-information {
  font-size: 1rem;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.contact-information ul {
  list-style-type: none;
}

.new-page {
  page-break-before: always;
}

h2 {
  string-set: heading content();
}

h3, h4 {
  margin-top: 2rem;
}

h2 + h3, h3 + h4 {
  margin-top: inherit;
}

ul {
  page-break-inside: avoid;
}

td, th {
  padding: 0.5rem 1rem 0;
}

td:first-child, th:first-child {
  padding-left: 0;
}

.technologies,
.frontend-technologies,
.backend-technologies,
.mobile-technologies,
.operations-technologies {
  font-style: italic;
  page-break-before: avoid;
}

.technologies::before {
  content: "Main technologies: ";
  font-weight: bold;
}

.frontend-technologies::before {
  content: "Frontend: ";
  font-weight: bold;
}

.backend-technologies::before {
  content: "Backend: ";
  font-weight: bold;
}

.mobile-technologies::before {
  content: "Mobile: ";
  font-weight: bold;
}

.operations-technologies:before {
  content: "Operations: ";
  font-weight: bold;
}

a {
  color: black;
  text-decoration: underline;
}
